@import './base.css';
@import 'tailwindcss';

.screen {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .screen {
    max-width: 350px;
  }
}

@layer base {
  :root {
    color-scheme: light;
    --color-bg: theme('colors.white');
    --color-text: theme('colors.gray.800');
  }

  .dark {
    color-scheme: dark;
    --color-bg: theme('colors.gray.800');
    --color-text: theme('colors.gray.100');
  }

  html, body {
    @apply bg-[var(--color-bg)] text-[var(--color-text)] transition-colors duration-200;
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}